body {
    background-color: white;
}

.header-container {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}
img {
    height: 70px;
    width: 70px;
}
.lista-horizontal {
    display: inline;
    display: flex;
    list-style: none;
    padding: 0;
}
a {color: black;}
.lista-horizontal li {
    display: inline;
    margin-right: 20px;
}